/*Basic CSS Rules*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    cursor: pointer;
}

.astyle{
    color: blue;
    text-decoration: underline;
}

.astyle:link{
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

.astyle:visited{
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

.astyle:link:active{
    color: (internal value);
}

.astyle:visited:active{
    color: (internal value);
}

/*Navigation Styling*/
nav{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.nav-link{
    display: inline-block;
    padding: 8px 8px;
    margin: 8px -3px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: .2s ease;
}

.nav-link:hover{
    background-color: lightgray;
}

/*Header Styling*/
header{
    width: 100%;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-video{
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
}

.blackout{
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header-content{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 80px;
    transition: .2s ease-in-out;
}

.header-title,.header-subtitle,.header-slogan{
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0;
}

.header-title{
    font-size: 7rem;
}

.header-subtitle{
    font-size: 2rem;
}

.header-button-container{
    margin: 20px 0;
}

.header-button{
    text-decoration: none;
    color: white;
    padding: 6px 9px;
    border: 3px solid white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .2s ease;
}

.header-button:hover{
    background-color: white;
    color: black;
}

.header-slideshow{
    position: relative;
    max-width: 100%;
    padding: 20px 30px;
    background-color: white;
    transition: .2s ease-in-out;
}

.header-slideshow:hover{
    background-color: white;
}

.slide{
    display: flex;
    flex-direction: row;
    width: 100%;
    display: none;
}

.caption-container{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caption-title{
    font-size: 3rem;
}

.caption{
    font-size: 20px;
    margin: 15px 0;
}

.slide-img-container{
    width: 50%;
}

.slide-img{
    display: block;
    margin: 0 auto;
}

.prev,.next{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.prev{
    top: 50%;
    left: 0;
}

.next{
    top: 50%;
    right: 0;
}

/*General Content Styling*/
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.column{
    width: 50%;
    z-index: 30;
}

.column img{
    width: 100%;
    filter: grayscale(100%);
    transition: .2s ease;
}

.column img:hover{
    filter: grayscale(0);
}

.column{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.paragraph{
    font-size: 20px;
}

.title,.paragraph,.external-link{
    display: block;
    width: 90%;
    margin: 15px auto;
}

/*Contact Styling*/
.contact-open{
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 2.5rem;
    z-index: 100;
    padding: 20px;
    cursor: pointer;
    border: 2px solid black;
    transition: .2s ease-in-out;
}

.contact-open:hover{
    background-color: black;
    color: white;
}

.contact-card{
    position: fixed;
    height: 0;
    overflow: hidden;
    z-index: 100;
    bottom: 2%;
    right: 2%;
    background-color: white;
    transition: 1s ease-in-out;
    /*border: 1px solid black;
    padding: 30px 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    width: 90%;
    margin: 20px auto;
}

input[type="text"],label{
    display: block;
    text-align: left;
    font-size: 18px;
}

label{
    margin-bottom: 8px;
    font-weight: 500;
}

input[type="text"]{
    margin-bottom: 15px;
    width: 100%;
    padding: 8px 4px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: .2s ease;
}

input[type="text"]:focus,input[type="text"]:hover{
    border: 2px solid black;
    outline: none;
}

input[type="submit"]{
    display: inline-block;
    margin: 0px auto;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: .2s ease;
}

input[type="submit"]:hover{
    transform: scale(1.3);
}

.contact-close{
    display: inline-block;
    margin: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(153, 14, 14);
    color: white;
    border: none;
    border-radius: 5px;
    transition: .2s ease;
}

.contact-close:hover{
    transform: scale(1.3);
}

/*Footer Styling*/
footer{
    background-color: lightgray;
    text-align: center;
    padding: 50px 0;
}

footer p{
    font-size: 20px;
    text-decoration: underline;
}

/*Media Queries*/
@media only screen and (max-width:570px) {
    .header-title{
        font-size: 4.5rem;
    }
    nav{
        height: 15vh;
    }
    header{
        margin-top: 100.05px;
    }
    .nav-link{
        font-size: 1rem;
    }
    .contact-open{
        display: none;
    }
}

@media only screen and (max-width:1380px) {
    .contact-card{
        left: 0;
        right: 0;
    }
    .caption-container{
        width: 100%;
    }
    .slide-img-container{
        width: 100%;
    }
    .slide{
        flex-direction: column;
    }
    .slide-img{
        max-width: 100%;
    }
    .header-slideshow{
        background-color: white;
    }
    .header-title{
        font-size: 6rem;
    }
    .header-subtitle{
        font-size: 2rem;
    }
    .header-title,.header-subtitle,.header-slogan{
        margin: 10px 0;
    }
    .header-content{
        padding: 40px 0;
    }
    .header-video-container{
        display: none;
    }
    /*General Content Styling*/
    .row{
        flex-direction: column;
    }
    .column{
        width: 100%;
    }
    .reverse-when-small{
        flex-direction: column-reverse;
    }
}